body {
    font-family: "Lato", sans-serif;
    margin: 0;
    background-color: #6c7744;
}

.logo {
    height: 50px;
    width: 50px;
    text-align: center;
    vertical-align: top;
    padding-top: 2px;
    display: inline-block;
}


.header {
    background-color: #000000;
    height: 195px;
    padding: 16px 0 0 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.28);
    text-align: center;
}

.header-title {
    color: #ffffff;
    font-size: 48px;
    font-weight: bold;
    text-align: left;
    margin: 0 auto;
    padding-left: 15px;
}

.header-description {
    color: #CFCFCF;
    margin: 4px auto;
    text-align: left;
    padding-left: 18px;
}

.content {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 32px;
    height:350px;
}
.card4 {
    width: 49.1%;
    display: inline-block;
    margin-bottom: 24px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.28);
    margin-right: 1.8%;
    background-color: #e3e4da !important;
    border-radius: 20px;
}
.card5 {
    width: 49.1%;
    display: inline-block;
    margin-bottom: 24px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.28);
    background-color: #e3e4da !important;
    border-radius: 20px;
}

.card1 {
    width: 34%;
    display: inline-block;
    margin-bottom: 24px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.28);
    margin-right: 1.8%;
    background-color: #e3e4da !important;
    border-radius: 20px;
}
.card2 {
    width: 64.2%;
    display: inline-block;
    margin-bottom: 24px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.28);
    background-color: #e3e4da !important;
    border-radius: 20px;
}
.card3 {
    width: 100%;
    margin-bottom: 24px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.28);
    background-color: #e3e4da !important;
    border-radius: 20px;
}

.menu {
    height: 112px;
    width: 912px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 24px;
    margin: -70px auto 0 auto;
    background-color: #e3e4da;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.28);
    border-radius: 20px;
}

.Select-control {
    width: 256px;
    height: 48px;
}

.Select--single > .Select-control .Select-value, .Select-placeholder {
    line-height: 48px;
}

.Select--multi .Select-value-label {
    line-height: 32px;
}

.menu-title {
    margin-bottom: 6px;
    font-weight: bold;
    height: 150px;
    width: 75%;
    display: flex;
    justify-content: start;
    padding-top: 25px;
    margin: -70px auto 0 auto;
    background-color: #e3e4da;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.28);
    border-radius: 20px;
}

.filter-title {
    margin-bottom: 6px;
    font-weight: bold;
    color: #512f15;
}

.pi-title {
    margin-bottom: 6px;
    font-weight: bold;
    color: #512f15;
    text-align: left;
    margin-left: 75px;
}

.filter-menu {
    height: 150px;
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 24px;
    margin: -70px auto 0 auto;
    background-color: #e3e4da;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.28);
    border-radius: 20px;
}

.filterbar-title {

    margin-bottom: 6px;
    font-weight: bold;
    color: #512f15;
    margin-left: 100px;
    justify: center;

}